<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Timeline 3</title>
        <link href="{{ url_for('static', filename='styles/timeline3.css') }}" rel="stylesheet" type="text/css"/>
        <script src="{{ url_for('static', filename='js/timeline3.js') }}" defer></script>
    </head>
    <body>
    <h1>International Student Portal</h1>

        <section class="timeline">
            <div class="timeline-line">
                <span class="timeline-innerline"></span>
            </div>

            <ul>
                <li>
                    <span class="timeline-point"></span>
                    <span class="date">12/02/2023</span>
                    <p>Application Form Completed!</p>
                </li>
                <li>
                    <span class="timeline-point"></span>
                    <span class="date">22/03/2023</span>
                    <p>Payment received.</p>
                </li>
                <li>
                    <span class="timeline-point"></span>
                    <span class="date">29/03/2023</span>
                    <p>Visa Process Completed!</p>
                </li>
                <li>
                    <span class="timeline-point"></span>
                    <span class="date">5/04/2023</span>
                    <p>Pre-CAS Interview Date Released</p>
                </li>
                <li>
                    <span class="timeline-point"></span>
                    <span class="date">20 April 2023</span>
                    <p>CAS Letter Issued.</p>
                </li>
            </ul>
        </section>
    </body>
</html>