.timeline {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0; /* set height to 0 */
    width: 100%; /* set width to 100% */
    border-top: 2px solid blue;
    z-index: -1;
  }
  
  .timeline-item {
    position: relative;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  
  .timeline-item::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -9px;
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: blue;
    border: 2px solid #ccc;
  }
  
  .timeline-item:last-child {
    margin-bottom: 0;
  }
  
  .timeline-item:last-child::before {
    display: none;
  }
  
  .timeline-item-content {
    position: relative;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: blue;
  }
  
  .timeline-item-info {
    margin-bottom: 10px;
  }
  
  .timeline-item-info h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .timeline-item-info p {
    margin-bottom: 0;
    font-size: 16px;
  }
  
  .timeline-item:hover::before {
    border-color: #3f51b5;
  }
  
  .timeline-item:hover .timeline-item-content {
    background-color: #3f51b5;
    color: blue;
  }
  
  .timeline-item:hover .timeline-item-info h2 {
    color: blue;
  }
  
  
  .timeline-item.active::before {
    background-color: #3f51b5;
    border-color: #3f51b5;
  }
  